<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>



				<form action="" method="post">

What is syntax for comment in python?
						<input type="text" name="q1" placeholder="Enter Answer Here" value="{{
          request.form.q1 }}">
					<br></br>
What is syntax for equals to in python?
						<input type="text" name="q2" placeholder="Enter Answer Here" value="{{
          request.form.q2 }}">


					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Enter
						</button>
					</div>

</form>





<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script src="static/vendor/bootstrap/js/popper.js"></script>-->
<!--	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script src="static/vendor/select2/select2.min.js"></script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script src="static/vendor/tilt/tilt.jquery.min.js"></script>-->
<!--	<script >-->
<!--		$('.js-tilt').tilt({-->
<!--			scale: 1.1-->
<!--		})-->
<!--	</script>-->
<!--&lt;!&ndash;===============================================================================================&ndash;&gt;-->
<!--	<script src="static/js/main.js"></script>-->

</body>
</html>

